@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    
}

.inter{
    font-family: 'Inter', sans-serif;
}
.mukta{
    font-family: 'Mukta', sans-serif;
}


body{
    background-color: white;
}

header{
    font-family: mukta;
    background: url(restaurantefoto.jpg) no-repeat center center;
    background-size:cover;
    margin: auto;
    padding: 0% 10% 0% 10%;
    line-height: 100px;
    color:white;
}


.tarjeta{


}

.buscador {
    width: 20px; /* cambiar ancho como sea necesario*/
    height: 10px; /* cambiar alto como sea necesario*/
    border: solid 1px #ffffff; /*cambiar color de bordes */  
    background: transparent url(image/button_search.png) no-repeat bottom center !important; /*añadir imagen de fondo*/
   }
    